// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$enable-negative-margins: true;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.asteriskField {
    display: none;
}

.container {
    max-width: 680px;
}

.thumbnail {
    max-width: 200px;
    max-height: 200px;
}

#div_id_honeypot, #div_id_url {
    display: none;
}