{% extends 'base.html' %}

{% block title %}Account detail{% endblock %}

{% block content %}

<h1 class="border-bottom pb-2 my-5">Account detail</h1>
<div id="account-detail">
    <dl>
        <dt>Name</dt>
        <dd class="mb-3">{{ object.first_name }} {{ object.last_name }}</dd>

        <dt>Date joined</dt>
        <dd class="mb-3">{{ object.date_joined }}</dd>

        <dt>Tributes created</dt>
        <dd>
            <ul>
                {% for tribute in tributes %}
                    <li><a href="{{ tribute.get_absolute_url }}">{{ tribute.name }}</a></li>
                {% empty %}
                    <li>No profiles found.</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
</div>
{% endblock %}