{% extends 'base.html' %}

{% block content %}

<h1 class="border-bottom pb-2 mb-3">EasyTribute</h1>
<p class="fs-4 mb-5">With Love and Ease: Create a tribute to remember.</p>
<p>See how others celebrate:</p>
<ul>
    <li><a href="{% url 'tributes:detail' 'mj' %}">Michael Jackson</a></li>
    <li><a href="{% url 'tributes:detail' 'stevejobs' %}">Steve Jobs</a></li>
    <li><a href="{% url 'tributes:detail' 'kobe' %}">Kobe Bryant</a></li>
</ul>
<p>Take a look at the latest tributes created by our users:</p>
<ul>
    {% for el in latest %}
        <li><a href="{% url 'tributes:detail' el.slug %}">{{ el.name }}</a></li>
    {% endfor %}
</ul>
<p><a href="{% url 'tributes:new' %}">Create a tribute using your email</a></p>
<p><a href="{% url 'tributes:new-as-anon' %}">Create a tribute anonymously</a> <small class="text-secondary">(It can only be managed by the Administrator)</small></p>
<p><a href="https://github.com/mariorojas/easytribute">Check the source code here!</a></p>
<p><a class="text-secondary text-decoration-none" href="https://mariorojas.carrd.co"><small>by Mario Rojas</small></a></p>

{% endblock%}