{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h1 class="border-bottom pb-2 mb-5">Dashboard</h1>
<div id="account-settings">
    <p>You're logged as <span class="fw-bold">{{ user.username }}</span></p>
    <p>You'll comment as  <span class="fw-bold">{{ user.first_name }} {{ user.last_name }}</span></p>
    <p><a href="{% url 'magic_links:settings' %}">Account settings</a></p>
</div>

<h2 class="border-bottom pb-2 mt-5">Tributes</h2>
<div id="tribute-settings" class="pt-3">
    {% for object in object_list %}
        <div class="border p-3 mb-3 bg-body">
            <p class="fw-bold">{{ object.name }}</p>
            <p class="mb-0">
                <a href="{% url 'tributes:detail' object.slug %}">View</a>
                <a class="ms-2" href="{% url 'tributes:edit' object.slug %}">Edit</a>
                <a class="ms-2" href="{% url 'tributes:share' object.slug %}">Share</a>
                <a class="ms-2" href="{% url 'tributes:edit-picture' object.slug %}">Update picture</a>
        </div>
    {% endfor %}
    <p><a href="{% url 'tributes:new' %}">New tribute</a></p>
</div>

{% endblock %}