{% extends 'base.html' %}

{% block title %}Remove comment{% endblock %}

{% block content %}

<h1 class="border-bottom pb-2 mb-5">Really remove this comment?</h1>
{% include 'comments/comment_snippet.html' with comment=comment %}
<form action="{% url 'comments-delete' comment.pk %}" method="post">{% csrf_token %}
    {% if next %}
        <div><input type="hidden" name="next" value="{{ next }}" id="next"/></div>
    {% endif %}
    <p class="submit">
        <input class="btn btn-dark" type="submit" name="submit" value="Remove"/>
        <a class="btn btn-link" href="{{ comment.get_absolute_url }}">Cancel</a>
    </p>
</form>

{% endblock %}
