{% extends 'base.html' %}

{% block title %}Flag comment{% endblock %}

{% block content %}

<h1 class="border-bottom pb-2 mb-5">Really flag this comment?</h1>
{% include 'comments/comment_snippet.html' with comment=comment %}
<form action="{% url 'comments-flag' comment.pk %}" method="post">{% csrf_token %}
    {% if next %}
    <div>
        <input type="hidden" name="next" value="{{ next }}" id="next"/>
    </div>
    {% endif %}
    <p class="submit">
        <input type="submit" class="btn btn-dark" name="submit" value="Flag"/> or <a href="{{ comment.get_absolute_url }}">go back</a>
    </p>
</form>

{% endblock %}
