<section id="comments" class="p-3">
    {% for el in comment_list %}
        <article id="c{{ el.pk }}" class="border rounded bg-white row mb-4 p-3">
            <div class="col-1">
                <span class="h3">🕊️</span>
            </div>
            <div class="col">
                {{ el.comment | linebreaks }}
                <p class="text-secondary mt-n3 mb-0">
                    <small>{{ el.name }}</small>
                </p>
            </div>
        </article>
        <div class="mt-n4">
            <p class="small text-right">
                <a class="text-secondary" href="{% url 'comments-flag' el.pk %}">Report</a>
                {% if is_owner_authenticated %}
                    <a class="text-secondary" href="{% url 'comments-delete' el.pk%}">Delete</a>
                {% endif %}
            </p>
        </div>
    {% empty %}
    <article id="no-comments" class="text-center pb-5">
        <p>No comments yet.</p>
    </article>
    {% endfor %}
</section>